.metals/metals.lock.db
.metals/metals.log
.metals/.tmp/classpath_A540CA4C31E332478004A0F167CD93E9.jar
.scala-build/ide-envs.json
.scala-build/ide-inputs.json
.scala-build/ide-launcher-options.json
.scala-build/ide-options-v2.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e-test.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8-analysis.bin
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/bloop-internal-classes/main-_xj0vZSpR-Coe1XEmX1frQ==/HelloWorld.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/bloop-internal-classes/main-_xj0vZSpR-Coe1XEmX1frQ==/HelloWorld.tasty
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/bloop-internal-classes/main-_xj0vZSpR-Coe1XEmX1frQ==/HelloWorld$.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/SoftwareCorrectnessCoursework_d5c0a6989e-analysis.bin
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-UlgktlDdTkiMc6LenbhZ0A==/HelloWorld.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-UlgktlDdTkiMc6LenbhZ0A==/HelloWorld.tasty
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-UlgktlDdTkiMc6LenbhZ0A==/HelloWorld$.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-UlgktlDdTkiMc6LenbhZ0A==/META-INF/semanticdb/HelloWorld.scala.semanticdb
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-jT_GhGMYTCSYH_EakMY7Mg==/HelloWorld.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-jT_GhGMYTCSYH_EakMY7Mg==/HelloWorld.tasty
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-jT_GhGMYTCSYH_EakMY7Mg==/HelloWorld$.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-jT_GhGMYTCSYH_EakMY7Mg==/META-INF/semanticdb/HelloWorld.scala.semanticdb
.scala-build/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/classes/main/HelloWorld.class
.scala-build/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/classes/main/HelloWorld.tasty
.scala-build/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/classes/main/HelloWorld$.class
.scala-build/SoftwareCorrectnessCoursework_d5c0a6989e/classes/main/HelloWorld.class
.scala-build/SoftwareCorrectnessCoursework_d5c0a6989e/classes/main/HelloWorld.tasty
.scala-build/SoftwareCorrectnessCoursework_d5c0a6989e/classes/main/HelloWorld$.class
.scala-build/SoftwareCorrectnessCoursework_d5c0a6989e/classes/main/META-INF/semanticdb/HelloWorld.scala.semanticdb
.bsp/scala-cli.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-QUEQ0YJcSWCPPuNXyw0Kgg==/HelloWorld.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-QUEQ0YJcSWCPPuNXyw0Kgg==/HelloWorld.tasty
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-QUEQ0YJcSWCPPuNXyw0Kgg==/HelloWorld$.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-QUEQ0YJcSWCPPuNXyw0Kgg==/META-INF/semanticdb/HelloWorld.scala.semanticdb
.metals/.reports/metals-full/2025-04-03/r_compiler-error_14-26-50-990.md
.metals/.reports/metals-full/2025-04-03/r_compiler-error_14-26-52-026.md
Main.class
.vscode/settings.json
