.metals/metals.lock.db
.metals/metals.log
.metals/.tmp/classpath_A540CA4C31E332478004A0F167CD93E9.jar
.scala-build/ide-envs.json
.scala-build/ide-inputs.json
.scala-build/ide-launcher-options.json
.scala-build/ide-options-v2.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e-test.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8-analysis.bin
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/bloop-internal-classes/main-_xj0vZSpR-Coe1XEmX1frQ==/HelloWorld.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/bloop-internal-classes/main-_xj0vZSpR-Coe1XEmX1frQ==/HelloWorld.tasty
.scala-build/.bloop/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/bloop-internal-classes/main-_xj0vZSpR-Coe1XEmX1frQ==/HelloWorld$.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/SoftwareCorrectnessCoursework_d5c0a6989e-analysis.bin
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-UlgktlDdTkiMc6LenbhZ0A==/HelloWorld.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-UlgktlDdTkiMc6LenbhZ0A==/HelloWorld.tasty
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-UlgktlDdTkiMc6LenbhZ0A==/HelloWorld$.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-UlgktlDdTkiMc6LenbhZ0A==/META-INF/semanticdb/HelloWorld.scala.semanticdb
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-jT_GhGMYTCSYH_EakMY7Mg==/HelloWorld.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-jT_GhGMYTCSYH_EakMY7Mg==/HelloWorld.tasty
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-jT_GhGMYTCSYH_EakMY7Mg==/HelloWorld$.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-jT_GhGMYTCSYH_EakMY7Mg==/META-INF/semanticdb/HelloWorld.scala.semanticdb
.scala-build/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/classes/main/HelloWorld.class
.scala-build/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/classes/main/HelloWorld.tasty
.scala-build/SoftwareCorrectnessCoursework_ab40939ecd-0b92906fe8/classes/main/HelloWorld$.class
.scala-build/SoftwareCorrectnessCoursework_d5c0a6989e/classes/main/HelloWorld.class
.scala-build/SoftwareCorrectnessCoursework_d5c0a6989e/classes/main/HelloWorld.tasty
.scala-build/SoftwareCorrectnessCoursework_d5c0a6989e/classes/main/HelloWorld$.class
.scala-build/SoftwareCorrectnessCoursework_d5c0a6989e/classes/main/META-INF/semanticdb/HelloWorld.scala.semanticdb
.bsp/scala-cli.json
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-QUEQ0YJcSWCPPuNXyw0Kgg==/HelloWorld.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-QUEQ0YJcSWCPPuNXyw0Kgg==/HelloWorld.tasty
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-QUEQ0YJcSWCPPuNXyw0Kgg==/HelloWorld$.class
.scala-build/.bloop/SoftwareCorrectnessCoursework_d5c0a6989e/bloop-internal-classes/main-QUEQ0YJcSWCPPuNXyw0Kgg==/META-INF/semanticdb/HelloWorld.scala.semanticdb
.metals/.reports/metals-full/2025-04-03/r_compiler-error_14-26-50-990.md
.metals/.reports/metals-full/2025-04-03/r_compiler-error_14-26-52-026.md
Main.class
.vscode/settings.json
sbt_project_experiment/project/target/config-classes/$3fdead57496b3e3c1aad.cache
sbt_project_experiment/project/target/config-classes/$3fdead57496b3e3c1aad.class
sbt_project_experiment/project/target/config-classes/$3fdead57496b3e3c1aad$.class
sbt_project_experiment/project/target/config-classes/$ef24c2c3ff35a63b2354.cache
sbt_project_experiment/project/target/config-classes/$ef24c2c3ff35a63b2354.class
sbt_project_experiment/project/target/config-classes/$ef24c2c3ff35a63b2354$.class
sbt_project_experiment/project/target/streams/_global/_global/_global/streams/out
sbt_project_experiment/project/target/streams/_global/csrConfiguration/_global/streams/out
sbt_project_experiment/project/target/streams/_global/csrProject/_global/streams/out
sbt_project_experiment/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
sbt_project_experiment/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
sbt_project_experiment/project/target/streams/_global/ivyConfiguration/_global/streams/out
sbt_project_experiment/project/target/streams/_global/ivySbt/_global/streams/out
sbt_project_experiment/project/target/streams/_global/moduleSettings/_global/streams/out
sbt_project_experiment/project/target/streams/_global/projectDescriptors/_global/streams/out
sbt_project_experiment/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
sbt_project_experiment/project/target/streams/_global/update/_global/streams/out
sbt_project_experiment/project/target/streams/compile/_global/_global/compileOutputs/previous
sbt_project_experiment/project/target/streams/compile/_global/_global/discoveredMainClasses/data
sbt_project_experiment/project/target/streams/compile/bspReporter/_global/streams/out
sbt_project_experiment/project/target/streams/compile/compile/_global/streams/out
sbt_project_experiment/project/target/streams/compile/compileIncremental/_global/streams/export
sbt_project_experiment/project/target/streams/compile/compileIncremental/_global/streams/out
sbt_project_experiment/project/target/streams/compile/copyResources/_global/streams/out
sbt_project_experiment/project/target/streams/compile/dependencyClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/compile/exportedProducts/_global/streams/export
sbt_project_experiment/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/compile/incOptions/_global/streams/out
sbt_project_experiment/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
sbt_project_experiment/project/target/streams/compile/managedClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/compile/scalacOptions/_global/streams/out
sbt_project_experiment/project/target/streams/compile/unmanagedClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/compile/unmanagedClasspath/_global/streams/out
sbt_project_experiment/project/target/streams/compile/unmanagedJars/_global/streams/export
sbt_project_experiment/project/target/streams/runtime/dependencyClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/runtime/exportedProducts/_global/streams/export
sbt_project_experiment/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/runtime/fullClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
sbt_project_experiment/project/target/streams/runtime/managedClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
sbt_project_experiment/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
sbt_project_experiment/project/target/streams/runtime/unmanagedJars/_global/streams/export
sbt_project_experiment/target/streams/_global/_global/_global/streams/out
sbt_project_experiment/target/streams/_global/csrConfiguration/_global/streams/out
sbt_project_experiment/target/streams/_global/csrProject/_global/streams/out
sbt_project_experiment/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/input_dsp
sbt_project_experiment/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/output_dsp
sbt_project_experiment/target/streams/_global/ivyConfiguration/_global/streams/out
sbt_project_experiment/target/streams/_global/ivySbt/_global/streams/out
sbt_project_experiment/target/streams/_global/moduleSettings/_global/streams/out
sbt_project_experiment/target/streams/_global/projectDescriptors/_global/streams/out
sbt_project_experiment/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
sbt_project_experiment/target/streams/_global/update/_global/streams/out
sbt_project_experiment/target/streams/compile/_global/_global/compileOutputs/previous
sbt_project_experiment/target/streams/compile/_global/_global/discoveredMainClasses/data
sbt_project_experiment/target/streams/compile/bspReporter/_global/streams/out
sbt_project_experiment/target/streams/compile/compile/_global/streams/out
sbt_project_experiment/target/streams/compile/compileIncremental/_global/streams/export
sbt_project_experiment/target/streams/compile/compileIncremental/_global/streams/out
sbt_project_experiment/target/streams/compile/copyResources/_global/streams/out
sbt_project_experiment/target/streams/compile/dependencyClasspath/_global/streams/export
sbt_project_experiment/target/streams/compile/exportedProductJars/_global/streams/export
sbt_project_experiment/target/streams/compile/externalDependencyClasspath/_global/streams/export
sbt_project_experiment/target/streams/compile/incOptions/_global/streams/out
sbt_project_experiment/target/streams/compile/internalDependencyClasspath/_global/streams/export
sbt_project_experiment/target/streams/compile/internalDependencyClasspath/_global/streams/out
sbt_project_experiment/target/streams/compile/mainClass/_global/streams/out
sbt_project_experiment/target/streams/compile/managedClasspath/_global/streams/export
sbt_project_experiment/target/streams/compile/packageBin/_global/streams/inputs
sbt_project_experiment/target/streams/compile/packageBin/_global/streams/out
sbt_project_experiment/target/streams/compile/packageBin/_global/streams/output
sbt_project_experiment/target/streams/compile/run/_global/streams/out
sbt_project_experiment/target/streams/compile/scalacOptions/_global/streams/out
sbt_project_experiment/target/streams/compile/unmanagedClasspath/_global/streams/export
sbt_project_experiment/target/streams/compile/unmanagedClasspath/_global/streams/out
sbt_project_experiment/target/streams/compile/unmanagedJars/_global/streams/export
sbt_project_experiment/target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
sbt_project_experiment/target/streams/runtime/exportedProductJars/_global/streams/export
sbt_project_experiment/target/streams/runtime/externalDependencyClasspath/_global/streams/export
sbt_project_experiment/target/streams/runtime/fullClasspathAsJars/_global/streams/export
sbt_project_experiment/target/streams/runtime/internalDependencyAsJars/_global/streams/export
sbt_project_experiment/target/streams/runtime/internalDependencyAsJars/_global/streams/out
sbt_project_experiment/target/streams/runtime/managedClasspath/_global/streams/export
sbt_project_experiment/target/streams/runtime/unmanagedClasspath/_global/streams/export
sbt_project_experiment/target/streams/runtime/unmanagedClasspath/_global/streams/out
sbt_project_experiment/target/streams/runtime/unmanagedJars/_global/streams/export
sbt_project_experiment/target/scala-3.3.1/zinc/inc_compile_3.zip
sbt_project_experiment/target/bg-jobs/sbt_9b5e2c45/job-1/target/755607a7/1a203e74/javascalainterop_3-0.1.0-SNAPSHOT.jar
sbt_project_experiment/target/bg-jobs/sbt_9b5e2c45/target/acc9e0d5/c31fd233/scala3-library_3-3.3.1.jar
sbt_project_experiment/target/bg-jobs/sbt_9b5e2c45/target/fab778d7/06ac27ae/scala-library-2.13.10.jar
sbt_project_experiment/target/global-logging/sbt-global-log9439555068869018044.log
